#keep .v-navigation-drawer__border {}

.upvote {
    color: rgb(255, 81, 0);
}
.reddirt-title .title{
    text-decoration: none;
    color: rgb(255, 72, 0);
}
.center {
    align-items: center;
    margin: 0px;
}
body a:hover {
    text-decoration: none;
}
.fuck {
    padding: 0px;
    align-items: center;
    text-align: center;
}
.fuck .v-btn {
    color: pink;
}
.reddirt-title a{
    text-decoration: none;
}

.my-nav-item a {
    text-decoration: none;
    color: black;
}

.my-nav-item a:hover {
    text-decoration: none;
    color: rgb(245, 70, 216);
}

.post-item a {
    text-decoration: none;
}

.upvote:focus {
    color: pink;
}

.downvote:focus {
    color: rgb(74, 74, 243);
}
.container.item {
    margin: none;
    padding: none;
    color: pink;
}

.post-item:hover {
    background-color: rgb(224, 224, 224);
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}

.post-item a:hover {
    text-decoration: none;
    background-color: rgb(224, 224, 224);
}

.my-nav-item:hover {
    background-color: rgb(94, 81, 63);
}

#demo {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    max-height: 64px;
}

#demo:hover {
    color: rgb(77, 77, 77);
}

#list {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

#list:hover {
    color: rgb(77, 77, 77);
}

.jumbotron {
    background-color: #d5d0c9;
}

#myPostList.postList:nth-child(odd) .pcard {
    background-color: #d5d0c9;
}

#myPostList.postList:nth-child(even) .pcard {
    background-color: #cecbc5;
}