{% extends 'base.html' %}
{% block menu %}

<v-subheader class="white--text">
    <v-col cols="6">
        <span class='my-nav-item'>
            <a href="{% url 'reddit:subreddit' slug=post.subreddit.slug %}">
                <h2>{{post.subreddit.name|upper}}</h2>
            </a>
        </span>
    </v-col>
</v-subheader>
<v-divider dark class="my-4"></v-divider>
<v-subheader>
    <v-col cols="6">
        Your Subreddits
    </v-col>
</v-subheader>
{% for subreddit in subreddits %}
<div class="my-nav-item"
    @click="drawer = !drawer, loadJson('/api/posts/?format=json&subreddit=' + '{{subreddit.id}}', '{{subreddit.name}}', '{% url 'reddit:subreddit' slug=subreddit.slug %}'), checkOrLoadSub">
    <button>
        <v-list-item>
            <v-list-item-action>
                <v-icon>category
                </v-icon>
            </v-list-item-action>
            <v-list-item-content>
                <v-list-item-title class="white--text">
                    {{subreddit.name}}
                </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </button>
</div>
{% endfor %}
{% endblock menu %}
{% block content %}

{% endblock content %}

{% if request.user.is_authenticated %}
{% block script %}
postApp.loadJson('/api/allposts/?format=json&subreddit=' + '{{post.subreddit.id}}', '{{post.subreddit.name}}',
'{% url 'reddit:subreddit' slug=post.subreddit.slug %}', '{{post.subreddit.id}}')
postApp.loadDetailJsonDirect('{{post.id}}')
{% endblock script %}
{% endif %}