{% extends 'base.html' %}
{% block menu %}
{% if request.user.is_authenticated %}

<v-subheader class="white--text">
    <v-col cols="6">
        <span class='my-nav-item'>
            <span id="subreddit_name"><% subreddit_name %>
            </span>
        </span>
    </v-col>
</v-subheader>
<div class="my-nav-item" @click="popup = !popup, drawer = !drawer">
    <button>
        <v-list-item>
            <v-list-item-action>
                <v-icon>add
                </v-icon>
            </v-list-item-action>
            <v-list-item-content>
                <v-list-item-title class="white--text">
                    Post to <span id="subreddit_name"><% subreddit_name %></span>
                </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </button>
</div>
<v-divider dark class="my-4"></v-divider>
<v-subheader class="white--text">
    <v-col cols="6">
        Your Subreddits
    </v-col>
</v-subheader>
{% for subreddit in subreddits %}
<div class="my-nav-item"
    @click="loadJson('/api/allposts/?format=json&subreddit=' + '{{subreddit.id}}', '{{subreddit.name}}', '{% url 'reddit:subreddit' slug=subreddit.slug %}', '{{subreddit.id}}'), checkOrLoadSub()">
    <button>
        {% comment %} <button onclick="PersonJsonAsync({{person.id}})"> {% endcomment %}
            <v-list-item>
                <v-list-item-action>
                    <v-icon>category
                    </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title class="white--text">
                        <span id="subreddit_name">{{subreddit.name}}</span>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </button>
</div>
{% endfor %}
{% endif %}
{% endblock menu %}

{% block login %}
{% if request.user.is_authenticated %}
{% else %}
<v-container center>
    <div class="text-center">
        <v-card-text> You don't appear to be signed in.</v-card-text>
        <v-card-text>
            <v-btn dark elevation=5 class="ma-4" href="{% url 'account_login' %}" color="indigo">Sign In</v-btn>
        </v-card-text>
        <v-card-text> Don't have an account?</v-card-text>
        <v-card-text>
            <v-btn dark elevation=5 class="ma-4" href="{% url 'account_signup' %}" color="green">Sign Up</v-btn>
        </v-card-text>
    </div>
</v-container>
{% endif %}
{% endblock login %}

{% block content %}

{% endblock content %}

{% if request.user.is_authenticated %}
{% block script %}
{% if subreddit %}
postApp.loadJson('/api/allposts/?format=json&subreddit=' + '{{subreddit.id}}', '{{subreddit.name}}',
'{% url 'reddit:subreddit' slug=subreddit.slug %}', '{{subreddit.id}}');
{% else %}
postApp.loadJson('/api/allposts/?format=json&subreddit=' + '{{subreddit.id}}', '{{page}}', '{% url 'reddit:all' %}',
'0');
{% endif %}
postApp.checkOrLoadSub();
{% endblock script %}
{% endif %}