{% extends "base.html" %}

{% block script %}
postApp.detail_id = 49;
postApp.showComments()

{% endblock script %}

{% block content %}

    <v-container>
        <v-row>
            <v-col>
                <div id="postApp">
                    <tree-item class="item" :item="treeData" @make-folder="makeFolder"></tree-item>
                </div>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col class="pa-6" cols="6">
                <div @show-click-details='comment'>
                    <% comment %>
                </div>
            </v-col>
        </v-row>

    </v-container>

{% endblock content %}