{% load static i18n %}
<!doctype html>

<head>
    <link href="{% static 'vue/css/icon.css' %}" rel="stylesheet">
    <link href="{% static 'vue/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'vue/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vue/css/vuetify.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
</head>

<body>
    <div id="postApp">
        <input type="hidden" id="userId" value={{request.user.id}}>
        <v-app id="inspire">
            <v-app id="keep">
                <v-app-bar app dark color="rgb(66, 52, 34)" clipped-left>
                    <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
                    <!-- <span class="title ml-3 mr-5">Google&nbsp;<span class="font-weight-light">Keep</span></span> -->
                    <a href="{% url 'frontpage' %}">
                        <span class="title ml-3 mr-5">Reddirt</span>
                    </a>
                    <span class="title"><span class="font-weight-light">
                            /r/
                        </span></span>
                    <span class="title ml-1 mr-1"><span class="font-weight-light">
                            <% subreddit_name %>
                        </span></span>
                    <span class="title mr-1"><span class="font-weight-light">/
                        </span></span>
                    <span class="title"><span class="font-weight-light">
                            <% postDetailTitle %>
                        </span></span>
                    <!-- <v-text-field solo-inverted flat hide-details label="Search" prepend-inner-icon="search">
                    </v-text-field> -->
                    <v-spacer></v-spacer>
                </v-app-bar>
                <v-navigation-drawer app v-model="drawer" clipped color="rgb(238, 231, 221)">
                    <v-list dense color="rgb(238, 231, 221)">
                        <v-divider dark class="my-4"></v-divider>
                        {% block menu %}
                        {% endblock menu %}
                        <v-divider dark class="my-4"></v-divider>
                        <div class="my-nav-item" @click="popup = !popup, drawer = !drawer">
                            <v-list-item>
                                <v-list-item-action>
                                    <v-icon>settings
                                    </v-icon>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title class="grey--text">
                                        Settings
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </div>
                    </v-list>
                </v-navigation-drawer>
                <v-main>
                    {% if request.user.is_authenticated %}
                    {% block content %}
                    {% endblock content %}
                    <v-dialog v-model="success_alert">
                        <v-alert type="success">
                            Success!
                        </v-alert>
                    </v-dialog>
                    <v-dialog v-model="error_alert">
                        <v-alert type="error">
                            Error!
                        </v-alert>
                    </v-dialog>
                    <v-dialog app v-model="popup">
                        <v-card>
                            <v-app-bar color="#D6D6D6">
                                <v-btn icon @click="popup = false">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                                <v-toolbar-title><span class="title ml-3 mr-5">Submit Post</span>
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-app-bar>
                            <v-container fluid>
                                <form>
                                    <v-text-field v-model="submit_title" label="Title"></v-text-field>
                                    <v-textarea v-model="submit_description" label="Description"></v-textarea>
                                    <v-btn class="mr-4" @click="submit">submit</v-btn>
                                    <v-btn @click="clear">clear</v-btn>
                                </form>
                            </v-container>
                        </v-card>
                    </v-dialog>
                    <v-dialog app v-model="edit_post_popup">
                        <v-card>
                            <v-app-bar color="#D6D6D6">
                                <v-btn icon @click="edit_post_popup = false">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                                <v-toolbar-title><span class="title ml-3 mr-5">Submit Post</span>
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-app-bar>
                            <v-container fluid>
                                <form>
                                    <v-text-field v-model="postDetailTitle" label="Title"></v-text-field>
                                    <v-textarea v-model="postDetailDescription" label="Description"></v-textarea>
                                    <v-btn class="mr-4" @click="edit_post">submit changes</v-btn>
                                    <v-btn @click="clear">clear</v-btn>
                                </form>
                            </v-container>
                        </v-card>
                    </v-dialog>
                    <v-app id="posts_loading" v-if="posts_loading">
                        <v-container fill-height fluid>
                            <v-row align="center" justify="center">
                                <v-col align="center" justify="center">
                                    <v-progress-circular :size="50" :width="5" color="grey" indeterminate>
                                    </v-progress-circular>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-app>
                    <div class="postApp">
                        <v-container class="postList" grid-list-xs,sm,md,lg,xl v-for="(post, index) in postList" :index="index" :key="post.id">
                            <v-layout row>
                                <v-flex xs2 md1 mt-2 mb-2>
                                    <v-col align='center' justify-center>
                                        <div>
                                            <v-flex xs4 md4>
                                                <v-icon :style="post.user_up_style" :id="'upvote-' + post.id" class="upvote"
                                                    @click="post_vote({{request.user.id}}, post.id, 1, index)">arrow_upward
                                                </v-icon>
                                            </v-flex>
                                            <v-flex xs4 md4>
                                                <div justify-center align="center" ma-0 :id="'score-' + post.id"
                                                    class="text-center"><% post.score %></text></div>
                                            </v-flex>
                                            <v-flex xs4 md4>
                                                <v-icon :style="post.user_down_style" :id="'downvote-' + post.id" class="downvote"
                                                    @click="post_vote({{request.user.id}}, post.id, -1, index)">arrow_downward
                                                </v-icon>
                                            </v-flex>
                                        </div>
                                    </v-col>

                                </v-flex>

                                <v-flex xs10 md11>
                                    <v-card class="pcard mx-auto" @click="loadDetailJson(index)"
                                        fill-width outlined>
                                        <v-list-item three-line>
                                            <v-list-item-content>
                                                <div class="overline mb-1"><% post.subreddit_name %></div>
                                                <v-list-item-title class="h6 mb-1"><% post.title %></v-list-item-title>
                                                <v-list-item-subtitle>posted by <a
                                                        v-bind:href="post.owner_url"><% post.username %></a>
                                                    <% post.time_since_post %></v-list-item-subtitle>
                                            </v-list-item-content>
                                            <v-list-item-avatar tile size="80">
                                                <v-icon size="40">
                                                    text_snippet
                                                </v-icon>
                                            </v-list-item-avatar>
                                        </v-list-item>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </div>
                </v-main>
            </v-app>
        </v-app>
        <v-dialog app v-model="postDetail" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card tile>
                <v-app-bar app dark color="rgb(66, 52, 34)">
                    <v-btn icon @click="close_post">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title><span
                            class="title ml-3 mr-5"><% postDetailData.subreddit_name %></span><% postDetailData.title %>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-app-bar>
                <v-main>
                    <div class="jumbotron jumbotron-fluid">
                        <v-layout row>
                            <v-flex xs2 md1 mt-2 mb-2>
                                <v-col align='center' justify-center>
                                    <div>
                                        <v-flex xs4 md4>
                                            <v-icon :style="postDetailData.user_up_style" :id="'upvote-' + postDetailData.id" class="upvote"
                                                @click="post_vote({{request.user.id}}, postDetailData.id, 1, 1)">
                                                arrow_upward
                                            </v-icon>
                                        </v-flex>
                                        <v-flex xs4 md4>
                                            <div justify-center align="center" ma-0 :id="'score-' + postDetailData.id"
                                                class="text-center"><% postDetailData.score %></text></div>
                                        </v-flex>
                                        <v-flex xs4 md4>
                                            <v-icon :style="postDetailData.user_down_style" :id="'downvote-' + postDetailData.id" class="downvote"
                                                @click="post_vote({{request.user.id}}, postDetailData.id, -1, 1)">
                                                arrow_downward
                                            </v-icon>
                                        </v-flex>
                                    </div>
                                </v-col>
                            </v-flex>
                            <v-flex xs10 md11>
                                <div class="container">
                                    <h4 class="display-5"><% postDetailData.title %></h4>
                                    <div v-if="postDetailData.owner == {{request.user.id}}">
                                        <v-btn @click="edit_post_popup = true" small>EDIT</v-btn>
                                    </div>
                                    <hr class="my-2">
                                    <p class="lead">
                                    <div v-html="postDetailData.description_br"></div>
                                    </p>
                                    <hr class="my-2">
                                    <span class="font-weight-light">
                                        <p>Posted by <strong><% postDetailData.username %></strong></p>
                                        <p>Last modified: <% postDetailData.created %></p>
                                    </span>
                                </div>
                            </v-flex>>
                        </v-layout>
                    </div>
                    <v-card-text>
                        <v-list>
                            <div class="post-item">
                                <v-list-item>
                                    <v-list-item-content>
                                        <v-list-item-title><strong><% postDetailData.title %></strong>
                                        </v-list-item-title>
                                        <% postDetailData.description %>
                                        <v-list-item-subtitle><strong><% postDetailData.username %></strong>
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle><% postDetailData.created %></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </div>
                        </v-list>
                    </v-card-text>
                </v-main>
            </v-card>
        </v-dialog>
    </div>


    {% else %}
    <a href="{% url 'account_login' %}">
        <h2>PLEASE SIGN IN</h2>
    </a>
    
    {% block login %}
        
    {% endblock login %}
        
    {% endif %}
    <script src='{% static 'js/jquery-3.5.1.min.js' %}'></script>
    <script src='{% static 'js/fontawesome.js' %}'></script>
    <script src='{% static 'js/base.js' %}'></script>
    <script src="{% static 'vue/js/vue.js' %}"></script>
    <script src="{% static 'vue/js/vuetify.js' %}"></script>
    <script src="{% static 'vue/js/axios.min.js' %}"></script>
    <script src='{% static 'js/myVue.js' %}'></script>
    <script>
        {% block subreddit_json %}
        var jsonurl_subreddit = '/api/posts/?format=json'
        {% endblock subreddit_json %}


        {% block script %}
        {% endblock script %}
    </script>
</body>

</html>